body {
  margin: 0;
  padding: 0;
}


.ralewayFont {
  font-family: 'Raleway'- sans-serif !important;
}

.sourceSansFont {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}